{% extends 'users/detail.html' %}
{% block user_details %}
<div class="col-sm-6">
  <ul class="list-group" id="messages">

    {% for message in user.likes %}

    <li class="list-group-item">
      <a href="/messages/{{ message.id }}" class="message-link">

      <a href="/users/{{ message.user.id }}">
        <img src="{{ message.user.image_url }}" alt="user image" class="timeline-image">
      </a>

      <div class="message-area">
        <a href="/users/{{ message.user.id }}">@{{ message.user.username }}</a>
        <span class="text-muted">{{ message.timestamp.strftime('%d %B %Y') }}</span>
        <p>{{ message.text }}</p>
        <form action="/messages/{{ message.id  }}/likes" method="POST">

          <a>
            <button action="submit" style="background-color:transparent; border:none;">
              {% if message not in g.user.likes %}
              <i class="far fa-heart"></i>
              {% else %}
              <i class="fas fa-heart"></i>
              {% endif %}
            </button></a>
        </form>
      </div>
    </li>

    {% endfor %}

  </ul>
</div>
{% endblock %}